.img-person{    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(48, 48, 48);
    color: rgba(44, 44, 44, 0.87);
    background-color: #ffffffec;

    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 7.0rem;
    font-family: monospace ,'Times New Roman' ;
  }
